.main__wrap-genres {
    height: 432px;
    overflow-y: auto;
    overflow-x: hidden;
}

.main__wrap-genres::-webkit-scrollbar {
    width: 4px;
}

.main__wrap-genres::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: var(--primary-color);
}

.genre__items {
    height: 72px;
    cursor: pointer;
}

.genre__items:hover {
    background-color: #e7e0d4;
}

.genre__id {
    font-size: 1.4rem;
}

.genre-img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.genre__name {
    font-size: 1.4rem;
}
